.form-container {
    display: flex;
    flex-direction: column;

    margin: 20px 0px;

    width: 80vw;
}

.label-form,
.label-1-form,
.label-2-form {
    display: flex;
    flex-direction: column;

    font-size: 1rem;
    color: var(--color-2);

    margin: 10px 0px;
}

.input-form,
.input-1-form,
.input-2-form {
    height: 40px;
    width: 100%;

    margin-top: 10px;
    padding: 15px;

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: none;
}

.input-form:focus,
.input-1-form:focus,
.input-2-form:focus {
    outline: none;
}

.button-form {
    background-color: var(--secondary-color);
    color: var(--primary-color);

    font-size: 1.1rem;
    line-height: 19px;
    font-weight: 700;

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    border: none;

    padding: 12px 0px;

    width: 100%;
}

.eye {
    margin-left: -30px;
    cursor: pointer;

    color: #607D8B;
}

@media (min-width: 768px) {
    .form-container {
        width: 45vw;
    }

    .button-form {
        margin-top: 28px;
    }
}

@media (min-width: 1024px) {
    .login-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-container {
        width: 35vw;
    }

    .form-group-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .name,
    .lastname {
        width: 100%;
    }

    .label-1-form {
        margin-right: .5rem;
    }

    .label-2-form {
        margin-left: .5rem;
    }

    .button-form {
        width: 15vw;
    }
}