.header-form{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--primary-color);
}

.login-title-container, .login-title-container-reg{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 93px;
    padding: 20px 0px;
    
    background-color: var(--color-4);
}

.btn{
    width: auto;
}

.fa-2xl{
    position: absolute;
    right: 20%;
    top: 20%;
}

@media (min-width: 768px) {
    .login-title-container, .login-title-container-reg {
        margin-top: 98px;
        padding: 150px 0px;
    }
}

@media (min-width: 1024px) {
    .login-title-container, .login-title-container-reg {
        margin-top: 0px;
        padding: 150px 0px;
    }
}