/*Contenedor búsqueda+título*/
.searchBar-container{
    background-color: var(--color-3);

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100vw;
    padding-bottom: 20px;
}

/*Título*/
.title-searchBar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    padding: 2rem 1.5rem;
}

.searchBar-structure {
    display: flex;
    flex-direction: column;
    /*padding: 0px 20px;*/
    width: 90vw;
    max-width: 480px;
}

@media screen and (min-width: 768px) {
    .searchBar-structure {
        flex-direction: row;
        gap: 1rem;
        width: auto;
        max-width: none;
    }
}